<!DOCTYPE html>
<html>
  <head>
    <title><%= stuname %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= stuname %></h1>
    <p>Welcome to <%= stuname %></p>
  </body>
</html>
