<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Store</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="brand">J&M&W Clothing Store</header>
    <main>
        <% var rootPath='./'; %>
        <%-include(rootPath + '/products'); %>
    </main>
</body>
</html>